
<body>
    <main class="form-signin w-100 m-auto" style="display: flex; justify-content: center; align-items: center; height: 100vh;">
        {% if mensaje %}
                    <div style="border: 1px solid black; border-radius: 5px; padding: 10px;">
                        <h1 class="h3 mb-3 fw-normal">{{ mensaje }}</h1>
                    </div>
        {% endif %}
        <div style="width: 50%; text-align: center;">
            <h1>Restablecer Contraseña</h1>
            <br>
            {% if user.is_authenticated %}
                  <!-- Mostrar el mensaje de "Saludo" si el usuario ha iniciado sesión -->
                  <h1>Hola {{ user.username }} se te enviara un correo, donde podras restablecer tu contraseña</h1>
                  <br>
                  <form method="post" action="{% url 'reset_password' %}">
                    {% csrf_token %}
                    <div class="form-floating">
                        <input type="text" class="form-control" id="{{ form.correo.id }}" placeholder="correo" name="correo" value="{{ user.email }}" >
                        <label for="{{ form.correo.id }}">Correo</label>
                    </div>
                    <br>
                    <button class="w-100 btn btn-lg btn-primary" type="submit">Enviar</button>
                    <p class="mt-5 mb-3 text-body-secondary">&copy; 2017–2023</p>
                </form>
            {% else %}
                  <!-- Mostrar el mensaje de "Saludo" si el usuario ha iniciado sesión -->
                  <h1>Hola {{ user.username }} se te enviara un correo, donde podras restablecer tu contraseña</h1>
                  <br>
                <form method="post" action="{% url 'reset_password' %}">
                    {% csrf_token %}
                    <div class="form-floating">
                        <input type="text" class="form-control" id="{{ form.correo.id }}" placeholder="correo" name="correo" required >
                        <label for="{{ form.correo.id }}">Correo</label>
                    </div>
                    <br>
                    <button class="w-100 btn btn-lg btn-primary" type="submit">Enviar</button>
                </form>
            {% endif %}
            
        </div>
    </main>
    
</body>

</html>

