{% extends "index.html" %}

{% block content %} 
<body>
    <main class="form-signin w-100 m-auto" style="display: flex; justify-content: center; align-items: center; height: 100vh;">
        <div style="width: 50%; text-align: center;">
            <h1>Confirmar Restablecimiento de Contraseña</h1>
            <p>Por favor, confirma el restablecimiento de tu contraseña ingresando una nueva contraseña a continuación:</p>
    
            <!-- Formulario para restablecer la contraseña -->
            <form method="post">
                {% csrf_token %}
                <div class="form-floating">
                    <input type="password"  class="form-control" name="password" id="id_password" required >
                    <label for="id_password">Nueva contraseña:</label>
                </div>
                <br>
                <div class="form-floating">
                    <input type="password" class="form-control" name="password_confirm" id="id_password_confirm" required>
                    <label for="id_password_confirm">Confirmar Contraseña:</label>
                </div>
                <br>
                <button class="w-100 btn btn-lg btn-primary" type="submit">Enviar</button>
            </form>
        </div>
        
    </main>
</body>
{% endblock %}
</html>
